//family-fonts
$standard: "standard";

//font-sizes
$extraSmallSize: "0.5rem";
$smallSize: "1rem";
$standardSize: "1.5rem";
$mediumSize: "2.0rem";
$largeSize: "2.5rem";
$extraLargeSize: "3rem";

@font-face {
  font-family: $standard;
  src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $standard;
  src: url("./../fonts/Roboto-BlackItalic.ttf") format("truetype");
  font-weight: 0 400;
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: $standard;
  src: url("./../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $standard;
  src: url("./../fonts/Roboto-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: $standard;
  src: url("./../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $standard;
  src: url("./../fonts/Roboto-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

*,
*::after,
*::before {
  font-family: $standard;
}

p,
a,
b,
i,
u,
h4,
h5,
button,
h6 {
  font-size: $standardSize;
}

h1 {
  font-size: $extraLargeSize;
  font-weight: bold;
}

h2 {
  font-size: $largeSize;
  font-weight: bold;
}

h3,
h4 {
  font-size: $mediumSize;
  font-weight: bold;
}

i,
p,
u,
h5,
button,
h6 {
  font-weight: normal;
}

h4,
h5,
h6 {
  font-weight: normal;
  font-size: $largeSize;
}

a,
b {
  font-weight: bold;
}

.small {
  font-size: $smallSize;
}

.extra-small {
  font-size: $extraSmallSize;
}

.large {
  font-size: $largeSize;
}

.extra-large {
  font-size: $extraLargeSize;
}
