//family-fonts
$standard: "standard";
$standard_italic: "standard-italic";
$standard_light: "light";
$standard_light_italic: "light-italic";
$standard_bold: "bold";
$standard_bold_italic: "bold-italic";

//font-sizes
$extraSmallSize: "0.5rem";
$smallSize: "1rem";
$standardSize: "1.5rem";
$mediumSize: "2.0rem";
$largeSize: "2.5rem";
$extraLargeSize: "3rem";

@font-face {
  font-family: $standard;
  src: url("./../fonts/Roboto-Black.ttf");
  font-weight: 0 1000;
  font-display: swap;
}

@font-face {
  font-family: $standard_italic;
  src: url("./../fonts/Roboto-BlackItalic.ttf");
  font-weight: 0 1000;
  font-display: swap;
}

@font-face {
  font-family: $standard_light;
  src: url("./../fonts/Roboto-Light.ttf");
  font-weight: 0 1000;
  font-display: swap;
}

@font-face {
  font-family: $standard_light_italic;
  src: url("./../fonts/Roboto-LightItalic.ttf");
  font-weight: 0 1000;
  font-display: swap;
}

@font-face {
  font-family: $standard_bold;
  src: url("./../fonts/Roboto-Bold.ttf");
  font-weight: 0 1000;
  font-display: swap;
}

@font-face {
  font-family: $standard_bold_italic;
  src: url("./../fonts/Roboto-BoldItalic.ttf");
  font-weight: 0 1000;
  font-display: swap;
}

p,
a,
b,
i,
u,
h4,
h5,
button,
h6 {
  font-size: $standardSize;
}

h1 {
  font-size: $extraLargeSize;
}

h2 {
  font-size: $largeSize;
}

h3 {
  font-size: $mediumSize;
}

p,
u,
h4,
h5,
button,
h6 {
  font-family: $standard;
}

a {
  font-family: $standard;
}

h4,
h5,
h6 {
  font-weight: 500;
}

b {
  font-family: $standard_bold;
}

i {
  font-family: $standard_italic;
}

i.thick {
  font-family: $standard_bold_italic;
}

i.light {
  font-family: $standard_light_italic;
}

h1,
h2,
h3 {
  font-family: $standard_bold;
}

p.light {
  font-family: $standard_light;
}

p.small {
  font-size: $smallSize;
}

p.extra-small {
  font-size: $extraSmallSize;
}

.nav-link {
  color: $blue !important;
}

.nav-link.active {
  color: $light-yellow !important;
}

@media (max-width: 780px) {
  .nav-link.active {
    color: $purple;
  }
}
