@import "./reset";

.appContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("./../../images/dashboard/hero.jpg");
    background-size: cover;

 h1, h2, h3, h4, p, i, u, b, span {
    color: #ffffff;
    text-shadow: 1px 3px 8px black;
 }
}

a {
   text-decoration: none;
}