header {
  display: flex;
  position: fixed;
  z-index: 2;
  align-items: flex-start;
  max-height: 8vh;
  width: 100vw;
  background-color: $black-colour;

  img {
    padding: 2px;
    margin-left: 10px;
  }
}

.nav-link {
  color: $secondary-colour !important;
}

.nav-link.active {
  color: $base-colour !important;
  font-weight: bold;
}

.nav-link.unique {
  &:hover,
  &:active {
    color: $black-colour;
  }
}

.nav-link.active.unique {
  color: $black-colour !important;
  font-weight: bold;
}

@media (max-width: 780px) {
  .nav-link.active {
    color: $secondary-colour !important;
  }
}
